*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
 
}


.grid{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 30px;
   padding: 30px;

   
  
}

.ed-info{
    width: 100%;
    display: grid;
    grid-column: 1/span 1;
    
  
}

.ex-info{
    /* background-color: rgb(218, 17, 17); */
   width: 100%;
     display: grid;
    grid-column: 2/span 2;
    
}

.eduction{
    line-height: 36px;
}

.experience{
    line-height: 36px;
}
/* 
.univer{
    display: flex;
  flex-direction: row;
}

.date{
    display: flex;
   flex-direction: row;
} */

.graduation{
    display: flex;
     gap:6px
}

.exp{
    display: flex;
    gap:6px
}

.edex-title{
    text-align: center;
    margin-top: 180px;
    color: #0bceaf;
    font-weight: 700;
   
}

.ed-title , .ex-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
h3{
    color: #343a40;
}
h4{
    color: #545659;
}
span{
    color: #6d767e;
    font-weight: 400;
}
p{
    color: #737b83;
}