@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "roboto", sans-serif;
    background-color: #ffffff;
 
   
   
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

   
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 70px;
}
.logo{
    font-size: 38px;
    cursor: pointer;
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
     gap: 20px;
     
}

.navbar .nav-menu a{
    text-decoration: none;
    color: rgb(78, 74, 74);
    font-weight: 700;
   
}
.navbar .nav-menu a:hover{
    color:#0bceaf;
}
.moha{
    color: #0bceaf;
     font-size: 38px;
     font-weight:700;
}

button{
    height: 45px;
    width: 120px;
    border: none;
    border: 1px solid #0bceaf;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    color: #0bceaf;
}
button:hover{
    background-color: #0bceaf;
    color: white;
}
/* .image{
    width: 100%;
} */

.container{
    
  
    
}

.hero-section{
    width: 100%;
    height: 550px;
    margin: 0 auto;
  display: flex;
    flex-direction: row;
  padding: 40px;
  margin-top: 70px;
  background-color: #0bceaf;
    
    
}
.image-info{
    display: flex;
     justify-content: center;
     padding: 20px;
      gap: 30px;
    
}

.image{
width: 550px;
background: url("portfolio.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    border-radius: 50%;
    height: 410px;
     box-shadow: 0 4px 5px  rgba(0, 0, 0, 0.2);
}

.image-info .info{
    padding: 20px;
    margin: 20px;
    line-height: 60px;
   
}
.my-name{
    font-size: 60px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

#iam{
    color: white;
    text-transform: lowercase;
}
.download-cv{
    background-color: #0bceaf;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 50px;
    width: 150px;
}
.download-cv:hover{
    background-color: white;
    color: black;
}
.juniosoftware-dev{
    font-size: 20px;
    font-weight: 700;
    color: white;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.i{
    text-transform: uppercase;
}
.decription-hero{
    line-height: 26px;
    color: rgb(253, 251, 251);
    font-size: 18px;
    font-weight: 500;
}

.about-header{
    margin-top: 150px;
}
.about-image{
    background: url("portfolio.jpg");
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
    width: 90%;
    height: 420px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.container{
    display: flex;
    justify-content: center;
}

.about-info{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.information {
   display: flex;
   gap: 60px;
   line-height: 35px;
   
   
}

.about-content{
    padding: 10px;
    margin-top: 3px;
}

.about-paragraph{
    line-height: 30px;
    font-size: 16px;
    color: #7b838a;
    font-weight: 400;
    margin-top: 25px;
}
.information{
    line-height: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #7b838a;
}
.about-title{
    font-size: 28px;
    color: #343a40;
}
#about-hireme{
    width: 110px;
}
#about-hireme2{
   margin-left: 30px;
}
.about-btn{
    gap: 20px;
}

.about-headtitle{

    margin-left: 480px;
    color: #0bceaf;
    font-size: 35px;
    font-weight: 800;
    margin-top: 120px;
    margin-bottom: 15px;
    text-transform: uppercase;
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* EDUCTION & EXPERIENCE */

.container{
    max-width: 1110px;
    margin: 0 auto;
     
    /* background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1); */
 
}


.grid{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 30px;
   padding: 40px;

   
  
}

.ed-info{
    width: 100%;
    display: grid;
    grid-column: 1/span 1;
    
}

.ex-info{
    /* background-color: rgb(218, 17, 17); */
   width: 100%;
     display: grid;
    grid-column: 2/span 2;
    
}

.eduction{
    line-height: 36px;
}

.experience{
    line-height: 36px;
}
/* 
.univer{
    display: flex;
  flex-direction: row;
}

.date{
    display: flex;
   flex-direction: row;
} */

.graduation{
    display: flex;
     gap:6px
}

.exp{
    display: flex;
    gap:6px
}

.edex-title{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-top: 118px;
    text-transform: uppercase;
    color: #0bceaf;
    margin-bottom: 20px;

   
   
}

.ed-title , .ex-title{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #343a40;
    font-size: 30px;
}
h3{
    color: #343a40;
    font-size: 20px;
    margin-top: 17px;
}
h4{
    color: #6c757d;
    font-size: 16px;
}
span{
    color: #6d767e;
    font-weight: 400;
}
p{
    color: #737b83;
    line-height: 26px;
}

/* SKILLS SECTION */

.skill-container{
    max-width: 1110px;
    margin: 0 auto;
 
}
.skills{
   display: flex;
   align-items: center;
   justify-content: center;
 
   
     /* margin-top: 40px;
       width: 100% */
    
   
}

.skills-info{
    display: flex;
 align-items: center;
  flex-wrap:wrap;
    height: 300px;
   
 
    
   
}
.skill{
   width: 300px;
  
     box-shadow: 4px 5px  8px 2px rgba(0, 0, 0, 0.1);
     padding: 20px;
     margin: 15px;
    
   
}

.skill-para{

}
.skills{
  
}
.skill-title{
    text-align: center;
    margin-top: 70px;
    color: #0bceaf;
    font-size: 35px;
    margin-bottom: 50px;

}
.skill-para{
    line-height: 27px;
}
.web{
    margin-bottom: 20px;
   align-items: center;
    font-size: 26px;
    background-color: #0bceaf;
    color: white;
    padding: 3px 0;
}
.mobile{
    margin-bottom: 20px;
   align-items: center;
    font-size: 26px;
 padding: 3px 0;
    color: #0bceaf;
}
.graphic{
     margin-bottom: 20px;
   align-items: center;
    font-size: 26px;
   
    color:#0bceaf;
}
i{
    /* margin-left: 100px; */
}

.skill-subtitle{
    font-size:20px;
      color: #343a40;
}




.service-container{
    max-width: 1000px;
    margin: 0 auto;
}

.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 18px;
    row-gap: 70px;
}

.web-design{
    display: grid;
    grid-column: 1/ span 1;
}

.web-dev{
    display: grid;
    grid-column: 2/ span 2;
}

.mobile-app{
    display: grid;
    grid-column: 3/ span 3;
}

.web-title{
    display: flex;
  
 
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    background-color: #0bceaf;
    color: white;
    width: 60px;
    height: 58px;
    font-size: 26px;
    border-radius: 50%;
}
.title{
    display: flex;
    align-items: center;
    margin: 10px;
     line-height: 27px;
    
}

.services-title{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 65px;
    font-size: 35px;
    color: #0bceaf;
}
.service-para{
    margin-top: 20px;
    line-height: 26px;
}

a{
    text-align: center;
    color: #0bceaf;
    margin-top: 10px;
}

.services-subtitle{
     font-size: 24px;
    
}


/* PORTFOLIO SECTION */

img{
    width: 100%;
}

.portfolio-container{
    max-width: 1110px;
    margin: 0 auto;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}

.portifolio-title{
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    color: #0bceaf;
}

.all{
    height: 100px;
    
}

.portfolio{
   
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 images per row */
  gap: 25px;
 
    
}

.portfolio{
     width: 100%;
  height: auto;
  border-radius: 8px;
}
img{
    border-radius: 5px;
    height: auto;
     box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}


/* MY BLOG */

/* img{
  max-width: 300px;
 } */

.blog-container{
    max-width: 1110px;
    margin: 0 auto;
}

.blog-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
   
}

.blog-para{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.blog-title{
    margin-top: 140px;
    text-align: center;
    margin-bottom: 100px;
    font-size: 35px;
    color: #0bceaf;
}

.blog-btn{
    margin-top: 15px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
}



